// Begin Lineboxes. The Diagonal Lines
.linebox-l{
  transform: rotate(-2deg);
  margin: 0.5em;
  padding: 1em;
  border-top: $cf-color-5 1px solid;
  border-bottom: $cf-color-5 1px solid;
}

.linebox-l-reset{
  transform: rotate(2deg);
}

.linebox-r{
  transform: rotate(2deg);
  margin: 0.5em;
  padding: 1em;
  border-top: $cf-color-5 1px solid;
  border-bottom: $cf-color-5 1px solid;
}

.linebox-r-reset{
  transform: rotate(-2deg);
}

// cf-line is the Horizontal line
.cf-line {
  // -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  // box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

  p{
    border-top: $cf-color-5 1px solid;
  }
}

.button{
  margin-top: 1rem;
  font-size: 1.1em;
  padding: 0.25em 1em;

  .medium{
    font-size: 1.7em;
  }
}

.cell{
  padding: 1.25rem;
}

h2{
background: rgba(170,33,89,0.20);
text-align: center;
padding-top: 0.2em;
text-transform: uppercase;
// max-width: 75%;
// margin: auto;
margin-top: 1em;
margin-bottom: 0.3em;
transform: rotate(0.5deg);
}

p{
padding-top: 1em;
max-width: 800px;
margin: auto;
// text-align: justify;
}

a{
  color: inherit;
  text-decoration: none;
  color: $cf-color-3;
}

// .banner is the circle and square element that includes images or text
.banner{
  background-color: $cf-color-1;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  // overflow: hidden;
    // temp_banner
    margin-bottom: 2rem;

  &:hover .sq_overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  &:hover .sq_overlay{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity 1.3s ease;
    transition: transform .5s ease, opacity 1.3s ease;
  }

  .sq_overlay{
    background-color: $cf-color-3;
    width: 250px;
    height: 250px;
    opacity: 0.40;
    -moz-opacity: 40%;
    -webkit-opacity: 40%;
  }

  .square{
    width: 250px;
    height: 250px;
    margin: 25px;
    background-size: 100%;
    position:absolute;

    h1{
      padding-top: 9%;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      font-size: 3.8rem;
    }
  }
}

.cf-tetris{
  .sq_overlay{
    background-color: $cf-color-5;
    opacity: 0.60;
    -moz-opacity: 60%;
    -webkit-opacity: 60%;
  }

  .square{
    h1{
      padding-top: 9%;
      color: $black;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
    }
    h2{
      color: $white;
      font-size: 1.4rem;
      background-color: $black
    }
    h3{
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }
}
