{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109242428-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109242428-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chancen FREIHEIT</title>

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="{{root}}assets/fonts/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine|Neucha">
  </head>
  <body>
    <div class="cf-page">
      <div class="grid-x">
        <div class="header cell">
          <a href="{{root}}index.html">
          <img src="{{root}}assets/img/logo.svg" alt="chancenfreiheit Logo">
          </a>
        </div>
      </div>

      {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
      {{> body}}

      <div class="grid-x text-center">
        <div class="medium-6 cell">
          <a class="button" href="mailto:post@chancenfreiheit.de"><i class="fi-pencil medium"></i> <strong> Schreib uns </strong></a>
        </div>
        <div class="medium-6 cell">
          <a class="button" href="https://www.facebook.com/groups/218677151967341" target="_blank"><i class="fi-social-facebook medium"></i><strong> Besuch uns</strong></a>
        </div>
      </div>
      <div class="grid-x">
        <div class="footer cell text-center">
          <a href="{{root}}impressum.html">Impressum</a>
        </div>
      </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
